@using KanbanBoard.Web.Models;

@model KanbanBoardViewModel

@Html.ActionLink("Ajouter", "AddPostIt")

@foreach (var postIt in Model.PostIts)
{
    <p>
        @postIt.Title - @Html.ActionLink("Modifier", $"UpdatePostIt", new { id = postIt.Id })
    </p>
}